<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.assettagz.cordova.plugin.scan"
    version="1.0.0">

  <name>RFID Scanner</name>
  <description>RFID Scanner for Assettagz</description>
  <keywords>rfid,scanner,aretepop,cordova,android,assettagz</keywords>
  <author>NeoCode Software Solutions</author>

  <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/Scan.js" name="Scan">
        <clobbers target="scan" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Scan" >
                <param name="android-package" value="com.assettagz.cordova.plugin.scan.Scan"/>
            </feature>
        </config-file>

        <source-file src="src/android/Scan.java" target-dir="src/com/assettagz/cordova/plugin/scan" />
        <source-file src="lib/android/A100_AL1001-23_AndroidLibrary.jar" target-dir="libs"/>
    </platform>

</plugin>